# Hugo build output (ignore if NOT using submodule)
/public/

# Backup files
*.bak
*~

# OS / Editor / IDE stuff
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Node (jeśli używasz JS tooling, np. PostCSS)
node_modules/
dist/

# Logs & temp
*.log
.cache/
hugo_stats.json

# Deployment scripts, jeśli masz tokeny
.env
.env.*
